{{> head }}

  {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Infinity War</h1>
        <p>
            Incididunt non incididunt sint enim exercitation amet ut voluptate. Reprehenderit ipsum veniam deserunt sunt ad laboris quis amet nulla dolore. Ipsum aute ea fugiat mollit incididunt mollit eu aliquip eiusmod et id. Est cillum veniam aute enim Lorem duis aliquip laboris. Eiusmod Lorem reprehenderit occaecat amet laborum ullamco sunt sint nisi in incididunt. Anim adipisicing aute est est sint non laborum ullamco et labore laborum fugiat sit amet. Dolor ad et quis Lorem minim voluptate excepteur culpa deserunt voluptate deserunt.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/infinity-war.jpg" class="img-thumbnail">
    </div>

</div>
  {{> footer }}